/* general styles */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.whitefont {
  color: #d8d8d8;  
  text-decoration: none;
}


/* header */

.top-header {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.mid-header {
  display: flex;
  height: 60px;
  background-color: white;
  justify-content: space-between;
}

.logotipe a {
  display: block;
  background-color: black;
  padding: 20px;
  font-size: 0.75em;
}

.logotipe img {
  width: 60px;  
}

.midheader-icons {
  display: flex;
  align-items: center;
}

.midheader-icons ul {  
  display: flex;  
  align-content: center;
  justify-content: center;  
  list-style-type: none;
  height: 100%;
}

.midheader-icons li {
  border-left: #adadad solid 1px;
  height: 40px;
  display: flex;  
  align-content: center;
  justify-content: center;
}

.midheader-icons i {
  font-size: 2em;
}

.mid-header nav {
  display: none;
}

.lastheader {
  background-color: yellow;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.top-header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.top-header li {
  padding: 0 5px;
}

/* highlights */

.highlights {
  display: flex;
  flex-direction: column;  
}

.boxcont a {
  text-decoration: none;
}

.highlights .box {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.highlights .first {
  background-image: url(/assets/cont-1.jpg);
  background-position: center;
  background-size: cover;
}

.highlights .scnd {
  background-image: url(/assets/cont-2.webp);
  background-position: center;
  background-size: cover;
}

.highlights .third {
  background-image: url(/assets/cont-3.webp);
  background-position: center;
  background-size: cover;
}
