* {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 16px;
  margin: 1px;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.reallywhitefont {
  color: #fff;
}

.whitefont {
  color: #c0c0c0;
}

.greyfont {
  color: #858585;
}

.orangefont {
  color: #f42;
}

a {
  text-decoration: none;
  color: black;
}

.prime-font {
  font-family: Avalon, sans-serif;
}

.scnd-font {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Avalon, sans-serif;
  color: #fff;
}

.top-header {
  display: none;
}

.mid-header {
  display: flex;
  height: 60px;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
}

.logotipe a {
  display: block;
  background-color: black;
  padding: 20px;
  font-size: 0.75em;
}

.logotipe img {
  width: 60px;
}

.midheader-icons {
  margin-left: auto;
}

.midheader-icons ul {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  height: 100%;
  padding: 0;
}

.midheader-icons li {
  border-left: #adadad solid 1px;
  width: 60px;
}

.midheader-icons i {
  font-size: 1.5em;
  padding: 18px;
  color: #adadad;
}

.mid-header nav {
  display: none;
}

.lastheader {
  background-color: yellow;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.top-header ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
}

.top-header li {
  padding: 0 5px;
}

.box .box-background {
  background: url(images/black-gradient.webp) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#highlights {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#highlights .box {
  height: 200px;
  margin-top: 5px;
  margin-left: 5px;
}

#highlights .first {
  position: relative;
  background-image: url(images/cont-1.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1 / 4;
}

#highlights .highlights-logo {
  display: none;
}

#highlights .scnd {
  background-image: url(images/cont-2.webp);
  background-position: center;
  background-size: cover;
  grid-column: 1 / 4;
}

#highlights .third {
  background-image: url(images/cont-3.webp);
  background-position: center;
  background-size: cover;
  grid-column: 1 / 4;
}

.footer-index-social a {
  color: white;
}

.footer-links-nav a {
  text-transform: uppercase;
  color: rgba(170, 170, 170);
  margin: 0 6px;
  line-height: 24px;
}

.footer-links-nav a:hover,
.footer-links-nav a:focus {
  color: white;
}

.footer-index-social li i {
  padding: 10px;
}

#funding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#funding .top {
  align-self: flex-start;
  width: 100%;
}

#funding .left a {
  color: #f42;
  font-size: 1.75rem;
  font-weight: 700;
  padding-left: 5px;
}

#funding .right {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

#funding .right a {
  color: #f42;
  padding-top: 10px;
}

#funding .fundbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
}

#funding .fundbox i {
  padding-right: 10px;
  color: #000;
}

#funding .fundbox img {
  width: 60px;
  height: 60px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#funding .fundbox-title {
  background-color: #f42;
  height: 40px;
  color: white;
  padding-top: 10px;
  padding-left: 80px;
  font-size: 1.125em;
}

#funding .fundbox .fundbox-subtitle {
  padding: 10px 0;
  padding-left: 80px;
  background-color: #ffebe7;
  margin-bottom: 10px;
  font-size: 0.75em;
}

#funding .boldprice {
  display: block;
  font-size: 1.125rem;
}

.fundbox > p {
  padding: 3px;
  margin-left: 15px;
}

#funding .fundbox-descrpt {
  margin-top: 10px;
  border-top: rgba(255, 68, 34, 0.25) solid 1px;
  padding: 10px 15px;
  font-size: 0.75rem;
  line-height: 24px;
}

.footer-container {
  margin-top: 20px;
  width: 100%;
}

.footer-social-nav-wrapper {
  background: rgb(19, 19, 19);
}

.footer-social {
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social ul,
.footer-links-nav {
  padding: 0;
  list-style: none;
  text-align: center;
  padding-bottom: 15px;
}

.footer-index-social li {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: rgba(99, 99, 99, 0.4);
  border-radius: 50%;
  padding: 2px 0;
  margin: 0 2px;
}

.footer-links-nav li {
  display: inline-block;
}

.footer-copywrite {
  background: black;
  padding: 2.5em 0;
  text-align: center;
}

.footer-copywrite svg {
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}

.footer-copywrite p {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: rgb(170, 170, 170);
}

/* MILESTONE 2 ============================================================= */

.grid-container {
  display: grid;
}

.grid-child {
  margin: 1%;
}

.top-image {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2px;
  padding: 15px;
  background-image:
    url("./images/micro_logo.jpg"),
    -moz-linear-gradient(180deg, rgba(255, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
  background-image:
    url("./images/micro_logo.jpg"),
    linear-gradient(180deg, rgba(255, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
  background-blend-mode: color-burn;
}

.pinky {
  background-color: #fdd4d4;
  height: 90px;
}

.aside-pic {
  width: 90px;
  height: 90px;
  float: right;
}

.aside-text {
  padding: 10px;
}

.navigator {
  clear: right;
}

.navigator ul {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.navigator li {
  padding: 8px 0;
  border-bottom: rgb(212, 212, 212) solid 1px;
}

.navigator li::before {
  content: "\2022";
  color: #f42;
  padding-right: 15px;
}

.section-title {
  color: #f42;
  font-size: 1.75rem;
  font-weight: 700;
  padding-left: 5px;
  margin-bottom: 15px;
}

.pretty-flexbox {
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1 0 100%;
  margin-bottom: 20px;
}

.flex-image {
  width: 80px;
  background-image: url("images/micro_logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80px;
  float: left;
  margin-right: 20px;
  position: relative;
}

.flex-title {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.flex-details {
  font-size: 0.7em;
  color: #adadad;
}

.flex-details-2 {
  font-size: 1.2em;
  color: rgba(99, 99, 99, 1);
}

.midline {
  text-decoration: line-through;
  color: #adadad;
}

.triangle-down {
  display: none;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 0 solid transparent;
  border-top: 100px solid #fbc800;
  position: absolute;
  top: 0;
  right: 0;
}

.triangle-text {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 1;
  transform: rotate(45deg);
}

.see-all-deals {
  display: block;
  margin-right: 20px;
}

/* MEDIA ================================================================== */

@media (min-width: 768px) {
  .top-header {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .mid-header nav {
    display: block;
  }

  .onlydesktop {
    display: none;
  }

  .mid-colleft ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  .mid-colleft li {
    padding-left: 20px;
  }

  #highlights .first {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: auto;
  }

  #highlights .first h2 {
    font-size: 2.5em;
  }

  #highlights .scnd,
  #highlights .third {
    height: 130px;
    grid-column: 3 / 4;
  }

  #highlights .scnd h2,
  #highlights .third h2 {
    font-size: 1.25em;
  }

  .midheader-icons .onlydesktop {
    display: none;
  }

  #funding .onlydesktop {
    display: none;
  }

  #funding .fundbox-cont {
    display: flex;
  }

  .footer-copywrite p {
    display: inline;
  }

  /* Milestone 2 properties */

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .grid-child {
    margin: 2%;
  }

  .flex-child {
    flex: 1 0 31%;
    margin: 1%;
  }

  .flex-image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }

  .flex-title {
    font-size: 1.1em;
  }

  .flex-details {
    font-size: 0.8em;
  }

  .triangle-down,
  .triangle-text {
    display: block;
  }

  .see-all-deals {
    display: block;
    float: right;
    margin-right: 1%;
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .onlydesktop {
    display: inline-block;
  }

  #funding .onlydesktop {
    display: block;
  }

  #highlights .first h2 {
    font-size: 2.875em;
  }

  #highlights .scnd,
  #highlights .third {
    height: 180px;
    grid-column: 3 / 4;
  }

  #highlights .scnd h2,
  #highlights .third h2 {
    font-size: 1.75em;
  }

  #highlights .highlights-logo {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(images/header-article-gradient.webp) no-repeat;
    mix-blend-mode: lighten;
    background-size: 100% 100%;
  }

  #highlights .highlights-date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #fff;
  }

  #highlights .highlights-logo svg {
    width: 400px;
    padding: 20px;
  }

  #funding .top {
    display: flex;
    justify-content: space-between;
  }

  #funding .right {
    flex-direction: row;
  }

  #funding .right a {
    padding-right: 10px;
  }

  #funding .right a::before {
    content: "| ";
  }

  /* Milestone 2 properties */

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .grid-child {
    margin: 5%;
  }

  .flex-child {
    flex: 1 0 20%;
    margin: 1%;
  }
}
